.navBar {
    background-color: #0D698B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* These styling are for anchor tag in navBar */
.nameOfApp a {
    font-size: 45px;
    text-decoration: none;
    color: yellow;
    letter-spacing: 4px;
    font-weight: 600;
}

.nameOfApp img {
    height: 65px;
    width: 65px;
    margin:-26px 0 0 30px;
}

/* for the name of users */
.nameOfUser {
    font-size: 20px;
    margin: 8px 8px 0 2px;
    color: white;
    font-weight: bold;

}

.nameOfUser img {
    height: 30px;
    width: 30px;
    margin-right: 8px;

}

/* Thesse styling are for logOut, button which is present on the navBar */
.logOut{
    margin-top: 10px;
}

.logOut a small{
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}

.noUser ul {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.noUser li {
    list-style: none;
    font-size: 19px;
    padding-left: 20px;
    margin-top: 10px 20px 0 0;
}

.noUser li a {
    text-decoration: none;
    color: white;
}

.logOut small {
    font-size: 15px;
    color: white;
    text-decoration: underline 1px yellow;
    padding: 5px;
}

.logOut small:hover {
    color: rgb(189, 9, 9);
}